h1{

    font-family: 'Xanh Mono', monospace;
    text-align:center;
}
table{
margin:auto;
}
td{

    height:400px;
    padding:100px;
  
  border:5px solid white;

    
}
#one{

    background-color:#247BA0;
}
#two{

background-color: #70C1B3;
}
#three{

background-color:#B2DBBF;
}
#four{

background-color:#F3FFBD;
}
#five{

background-color:#FF1654 ;
}